@font-face {
    font-family: 'Pacifico';
    src: url("../fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kalam';
    src: url("../fonts/Kalam/Kalam-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Kalam';
}