.appsus-header {
    width: 20%;
}

.img-logo {
    object-fit: cover;
    margin: auto;
    width: 50px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar>* {
    padding: 10px;
    cursor: pointer;
}