.img-logo {
    object-fit: cover;
    height: 131px;
    width: 83px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar > * {
    padding: 10px;
    cursor: pointer;
}