@import './email-preview.css';
@import './email-list.css';
@import './big-preview.css';
@import './apsus-header.css';
body {
    background-color: #F4F9E9;
}

.navbar-links {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    color: white;
    background-color: #412142;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}