/*base*/


/*helpers*/

@import '../base.css';
@import '../books-style/misss-books.css';
@import './about.css';
@import '../email-style/email-preview.css';
@import '../email-style/email-list.css';
@import '../email-style/big-preview.css';
@import '../email-style/email-compose.css';
@import '../appsus-style/apsus-header.css';
@import '../keep-style/keep-app.css';
@import '../email-style/nav-bar.css';

/*media queries*/

.navbar-links {
    text-decoration: none;
}

button {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgb(227, 231, 219);
    color: burlywood;
}

button:hover {
    background-color: rgb(109, 109, 109);
}

button:focus {
    outline: 0;
}

.email-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    color: white;
    background-color: #412142;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-and-body {
    display: flex;
    flex-direction: row;
}

.compose-btn {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(227, 231, 219);
    width: 80px;
    margin-right: 20px;
}

.compose-btn:hover {
    background-color: rgb(109, 109, 109);
}

.prev-line-star {
    font-weight: 0;
}

.email-search {
    align-self: center;
}

.email-search-box {
    padding: 10px 30px 10px 30px;
    background-color: #F4F9E9;
    border: 1px solid rgb(227, 231, 219);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    background-color: #412142;
}

@media (max-width: 785px) {
    .nav-and-body {
        display: flex;
        flex-direction: column;
    }
}

a.navbar-links {
    color: white;
    margin: auto;
}

a.navbar-links:hover {
    color: burlywood;
}