/* book-details */

section.book-details {
    background-color: #EEF0EB;
    padding: 20px;
    margin-top: 1%;
}

.book-deatils-header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.sale-img {
    width: 20%;
    position: absolute;
    position: absolute;
    right: 0%;
    top: 26%;
    width: 10%;
}

.back-books-btn {
    border: none;
    position: absolute;
    right: 2%;
}