@import './review-add.css';
@import './book-details.css';
.books-app-header {
    margin: o auto;
    text-align: center;
    font-size: 180%;
    color: #412142;
}

ul.book-list {
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax( 200px, 1fr));
    grid-auto-rows: 300px;
    gap: 5px;
}

.book-prev-img {
    width: 40%;
    margin: 10%;
}

li.books-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    background-color: #EEF0EB;
    height: 300px;
    cursor: pointer;
    list-style: none;
    margin: 0 auto;
}

.book-prev-text {
    margin: 0px;
    color: black;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav {
    text-decoration: none;
}

.book-link {
    text-decoration: none;
}


/* home */

.home-header {
    text-align: center;
    font-size: 4vw;
}

.home-img {
    width: 25vw;
    margin: 0 auto;
    display: block;
}