/* review-add */

.review-add-form {
    width: 60%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;
    gap: 2%;
}

.review-top-bar {
    grid-row: 1/2;
    grid-column: 1/4;
}

.txt-area-review {
    grid-row: 2/3;
    grid-column: 1/2;
    resize: none;
}

.save-review-btn {
    grid-row: 3/4;
    grid-column: 1/2;
    width: fit-content;
    height: fit-content;
}