.sender {
font-weight: bold; 
}

img.add-img  {
    height: 20px;
    width: 20px;
    object-fit: cover;
 } 

 img.trash-img  {
    height: 20px;
    width: 20px;
    object-fit: cover;
 }

 .big-prev-continer {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
 }

 .big-prev-header {
     margin-top: 2px
 }

 hr {
     margin-top: 2px;
 }