
/* email-compose */

.save-email-continer {
    position: fixed;
    bottom: 32px;
    left: 48px;
}

.save-email {
    padding: 10px;
    width: fit-content;
    background-color: #EFDEDE;
    display: flex;
    flex-direction: column;
}

.close-NewEmail-btn {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    width: 5%;
    padding: 0%;
    cursor: pointer;
}

.save-btn {
    width: 20%;
    padding: 5px;
    background-color: #F4F9E9;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 15px;
    vertical-align: baseline;
}

.clear-btn {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    width: 10%;
}

.clear-btn-img {
    width: 60%;
}