/* email-compose */

.save-email {
    display: flex;
    background-color: rgb(150, 150, 150);
    border: 3px solid black;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 376px;
<<<<<<< HEAD
    width: 99%;
=======
    width: 100%;
>>>>>>> 9831a89919e5cf25bf867cb0f785fd2639f48864
}

.close-NewEmail-btn {
    cursor: pointer;
    display: inline;
    padding: 5px;
}

.save-btn {
    width: 20%;
    padding: 5px;
    background-color: rgb(150, 150, 150);
    border: 2px solid rgb(155, 155, 155);
    border-radius: 15px;
    vertical-align: baseline;
}

.save-btn:hover {
    background-color: rgb(180, 179, 179);
}

.compose-top {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    border-bottom: 3px solid black;
    margin: 0px;
}

.form-group {
    border-bottom: 3px solid black;
    font-size: 1.5rem;
    padding: 10px 15px 10px 0px;
}

.form-control {
    background-color: rgb(150, 150, 150);
    border: none;
    width: 80%;
    font-size: 1.3rem;
    outline: none;
}

.email-content {
    background-color: rgb(150, 150, 150);
    outline: none;
    resize: both;
    overflow: auto;
    padding-bottom: 30px;
    font-size: 1.3rem;
}

.clear-btn {
    font-size: 1.3rem;
    padding: 5px;
}

.buttons-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 22px;
}

.email-body {
    border-bottom: 0px;
}