/* nav bar */

.nav-bar {
    display: flex;
    flex-direction: column;
}

.fas {
 color: burlywood;
}

.fab {
    color: burlywood;
}

.inbox {
    list-style-type: none;
}

.nav-bar > * {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}


