/* nav bar */

.nav-bar {
    display: flex;
    flex-direction: column;
}



.fas {
 color: burlywood;
}

.fab {
    color: burlywood;
}

.inbox {
    list-style-type: none;
}

.nav-bar > * {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}


@media (max-width: 785px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-bar > * {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid black;
    text-align: center;
    }

    .nav {
        display: flex;
        flex-direction: column-reverse;
    }
}